@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
img{
    vertical-align: middle;
}
body{
    background-color: #F5F8FF;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.22;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
.button{
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    background-color: #E95A08;
    padding: 17px 35px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    font-family: inherit;
}
.button:hover{
    background-color: #1e1e1e;
    color: #fff;
}
/* header */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
}
header .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.right_menu,
.right_menu ul{
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
}
.right_menu ul li a{
    color: #8987A1;
    font-size: 16px;
    text-decoration: none;
}
.right_menu ul li a:hover{
    color: #252432;
}
.right_menu ul li a.active{
    color: #252432;
    font-weight: 700;
}
.cart_wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #000000;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.row>div{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

/* home area */
.home_area{
    padding-bottom: 120px;
    padding-top: 297px;
}
.home_area .row{
    margin: 0;
    align-items: flex-end;
}
.home_area .row>div{
    width: 50%;
    padding: 0;
}
.home_area .row>div img{
    width: 100%;
}
.home_area p{
    margin-top: 13px;
}
h1{
    font-size: 65px;
    line-height: 89px;
    color: #000000;
    line-height: 1.36;
}
h1, h2, h3{
    font-family: "Noto Serif", serif;
    font-weight: 700;
}
h1 span, h2 span{
    color: #E95A08;
}
h2{
    font-size: 50px;
    line-height: 1.36;
    color: #000000;
}

/* plant area */
.plant_area{
    padding-bottom: 120px;
}
.plant_area .title_wrap{
    padding-bottom: 20px;
}
.title_wrap{
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.title_wrap p{
    margin-top: 16px;
}
.plant_card{
    text-align: center;
    color: #000000;
}
.plant_card img{
    margin-bottom: 10px;
}
.plant_card img,
.plant_card .button{
    width: 100%;
}
.plant_card .button{
    margin-top: 30px;
}
.plant_card p{
    line-height: 1;
    margin-top: 20px;
    font-weight: 500;
}
.col-3{
    width: 25%;
}

/* plant lover area */
.plant_lover_area{
    padding-top: 60px;
    padding-bottom: 60px;
}
.plant_lover_area .row{
    align-items: center;
    margin-left: -30px;
    margin-right: -30px;
}
.plant_lover_area .row>div{
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
}
.lover_img{
    position: relative;
}
.lover_img img:first-child{
    width: 100%;
}
.badge_img {
    position: absolute;
    right: -53px;
    top: -84px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
    animation: spin 10s linear infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.plant_lover_area ul{
    padding-left: 22px;
}
.plant_lover_area ul li {
    margin-top: 20px;
    max-width: 480px;
}